.advent-app {
  background-image: url('./house-sketch.png');
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Hidden class */
.advent-app .hidden {
  display: none;
}

.advent-app > a {
  margin: 0 auto;
}
.advent-app > img {
  width: 7rem;
  height: auto;
}
.advent-app p {
  margin: 0 auto;
}

/* Copy */
.advent-app p#copy {
  font-family: 'Mountains of Christmas', serif;
  font-size: 3rem;
  text-align: center;
}

/* Note wrapper */
.advent-app p#note {
}

/* @keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
} */


/* Heading */
.advent-app h1 {
  font-family: 'Mountains of Christmas', serif;
  font-size: 6rem;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 7rem;
}
.advent-app h1#advent {
}
.advent-app h1#early {
  /* margin-top: auto;
  margin-bottom: auto; */
}
/* Mobile viewports */
@media (max-width: 769px) {

  /* Heading */
  .advent-app h1 {
    font-size: 4rem;
  }

  /* Copy */
  .advent-app p#copy {
    font-size: 2rem;
    justify-content: center;
  }

  /* Note wrapper */
  .advent-app p#note {
    justify-content: center;
  }
}