/* Styles for /src/AdventApp.jsx */

.advent-app {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  height: 100vh;
}

/* Hidden class */
.advent-app .hidden {
  display: none;
}

/* Ornament <a> */
.advent-app #link-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Ornament image */
.advent-app #ornament {
  animation: fadeInOut 1s;
  height: 200px;
}
@keyframes fadeInOut {
  0%, 100% { opacity: 0; }
  50% { opacity: 1, 1; }
}

/* Date copy */
#link-wrapper #date {
  position: absolute;
  color: white;
  font-size: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 4rem;
  margin-right: .5rem;
  text-shadow: 3px 1px black;
  opacity: 0;
  transition: opacity .5s ease-in-out;
}
#link-wrapper:hover #date {
  opacity: 1;
}