#lights {
    justify-self: center;
    text-align: center;
    white-space: nowrap;
    position: absolute;
    padding: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: -80px;
    border-bottom: 3px solid #222;
    height: 100px;
  }
  
  #lights li {
    position: relative;
    list-style: none;
    margin: 0 20px;
    padding: 0;
    display: inline-block;
    width: 15px;
    height: 30px;
    border-radius: 50%;
    top: 102px;
    background: #fff;
    /* animation */
    /* animation-name: even-flash-xmas; */
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
  }

  #lights.xmas li {
    animation-name: even-flash-xmas;
  }
  
  #lights.xmas li:nth-child(odd) {
    animation-name: odd-flash-xmas;
  }

  #lights.thanksgiving li {
    animation-name: even-flash-thanksgiving;
  }
  
  #lights.thanksgiving li:nth-child(odd) {
    animation-name: odd-flash-thanksgiving;
  }
  
  #lights li:before {
    content: '';
    position: absolute;
    width: 14px;
    height: 10px;
    border-radius: 4px;
    top: -5px;
    left: .25px;
    background: #444;
  }
  
  @keyframes even-flash-xmas {
    0%, 100% {
      background: rgb(15, 197, 82,1);
      box-shadow: 0px 2px 20px 4px rgba(15, 197, 82,1);
    }
    50% {
      background: rgba(15, 197, 82,0.5);
      box-shadow: 0px 2px 20px 4px rgba(15, 197, 82,0.3);
    }
  }
  
  @keyframes odd-flash-xmas {
    50% {
      background: rgb(231, 32, 18,1);
      box-shadow: 0px 2px 20px 4px rgba(231, 32, 18,1);
    }
    0%, 100% {
      background: rgba(231, 32, 18,0.5);
      box-shadow: 0px 2px 20px 4px rgba(231, 32, 18,0.3);
    }
  }

  @keyframes even-flash-thanksgiving {
    0%, 100% {
      background: rgb(71, 50, 46,1);
      box-shadow: 0px 2px 20px 4px rgba(71, 50, 46,1);
    }
    50% {
      background: rgba(10, 158, 8, 0.5);
      box-shadow: 0px 2px 20px 4px rgba(10, 158, 8,0.3);
    }
  }
    
  @keyframes odd-flash-thanksgiving {
    50% {
      background: rgb(247, 154, 4,1);
      box-shadow: 0px 2px 20px 4px rgba(247, 154, 4,1);
    }
    0%, 100% {
      background: rgba(247, 154, 4,0.5);
      box-shadow: 0px 2px 20px 4px rgba(247, 154, 4,0.3);
    }
  }